* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(145deg, #32b5cd, #fcf9b6);
  background-repeat: no-repeat;
}
/*main div*/
.main {
  width: 100%;
  height: 100vh;
}
/*trip main content*/
.trip {
  width: 85%;
  margin: 20px auto 0px;
  text-align: center;
}
.trip h1 {
  font-size: 15px;
}
.trip p {
  font-size: 9px;
  line-break: auto;
}

/*trip button*/
.trip-button {
  width: 85%;
  margin: 15px auto 0px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.button {
  width: 50%;
  margin: 70px auto;
}
.button button {
  padding: 8px 20px;
  font-size: 8px;
  outline: none;
  border: none;
  border-radius: 30px;
}
.button button:hover {
  color: #fff;
  background: linear-gradient(45deg, #32b5cd, #fcf9b6);
  box-shadow: 0 0 4px #fcf9b6;
}
.image {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

#form1 {
  width: 40%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow:  0 0 5px #fcf9b6;
  padding:10px 0px;
}
#form1 input {
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  border: none;
  outline: none;
}
#form1 select {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}
/*submit button*/
#submit1 {
  padding: 8px 50px !important;
}
#submit1:hover {
  color: #fff;
  background: linear-gradient(135deg, #32b5cd, #fcf9b6);
}



/*show */
#card {
  width: 85%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-items: center;

}
.show {
  width: 200px;
  height: auto;
  margin: 10px auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px #fff;
  gap: 7px;
  font-size: 12px;
}
#card-title {
  font-size: 15px !important;
  text-align: center;
  font-weight: bold;
  width: 45px;
  height: 45px;
  background: #09b77a;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  margin-top: 10px;
}
#card-email {
  width: 85%;
  background: #fff;
  border-radius: 30px;
  padding: 3px 18px;
}
#card-mobile {
  width: 85%;
  background: #fff;
  border-radius: 30px;
  padding: 3px 8px;
}
#card-from {
  width: 85%;
  background: #fff;
  border-radius: 30px;
  padding: 3px 8px;
}
#card-to{
    width: 85%;
    background: #fff;
    border-radius: 30px;
    padding: 3px 8px;
}
#card-date {
  font-size: 15px;
  width: 85%;
  background: #fff;
  border-radius: 30px;
  padding: 3px 8px;
}
#card-bike {
  width: 85%;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  padding: 3px 8px;
  margin-bottom: 10px;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#icon i{
    text-align: center;
    font-size: 15px;
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
#icon i:hover{
  
    background: linear-gradient(135deg,#32b5cd,#fcf9b6);
}