* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  /*body*/
body {
  background: url("https://static.vecteezy.com/system/resources/previews/000/523/309/original/web-development-and-programming-coding-concept-seo-optimization-modern-web-design-on-laptop-screen-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*main content*/
.main_content{
  width: 85%;
  box-shadow: 0 0 2px 0px #f9f7f7; 
  margin:30px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #f9f7f7;

}
.child_1{
  /* background-color: #ededed; */
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px auto;
  align-items: center;
  box-shadow: 0 0 2px 0px #f9f7f7;
  backdrop-filter: blur(30px);
}
.child_2{

  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 2px 0px #f9f7f7;
  backdrop-filter: blur(30px);
}
.child_3{
  
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 2px 0px #f9f7f7;
  backdrop-filter: blur(30px);
}
.child_4 {
 
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 2px 0px #f9f7f7;
  backdrop-filter: blur(30px);
}
.child_5{

  box-shadow: 0 0 2px 0px #f9f7f7;
  backdrop-filter: blur(30px);
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  margin: 12px auto;
}