* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
body {
    background: url("https://static.vecteezy.com/system/resources/previews/000/523/309/original/web-development-and-programming-coding-concept-seo-optimization-modern-web-design-on-laptop-screen-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*main content*/
.main_content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  /* background-color: red; */
  gap: 50px;
}
.child_1{
  margin: 30px auto;
  backdrop-filter: blur(30px);
 box-shadow: 0 0 2px 0px #f9f7f7;
  border-radius: 10px;
}
.child_1 h2{
  width: 60%;
  margin:0 auto;
  text-align: center;
}
.child_1 p{
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
}
/* form feild*/
.child_2{
 width:40%;
 /* background-color: #fefefe;  */
margin: 20px auto;
 border-radius: 10px;
 backdrop-filter: blur(30px);
 box-shadow: 0 0 2px 0px #f9f7f7;
}
.child_2 h2{
  width: 60%;
  text-align: center;
  margin: 30px auto;
}
.feedback_form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.feedback_form input{
  width: 70%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 2px 0px #f9f7f7;
  border: none;
}
/* placeholder*/
.feedback_form input::placeholder{
 text-align: center;
  font-size:15px;
}
.feedback_form input:focus{
  outline: none;
  /* box-shadow: 0 0 0 2px #3CD500; */
}
/* text area*/
.feedback_form textarea{
  width: 70%;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 2px 0px #f9f7f7;
  border: none;
} 
.feedback_form textarea::placeholder{
  text-align: center;
  font-size: 15px;
}
/* form submit button*/
.feedback_form textarea:focus{
  outline: none;
}
.feedback_form button{
  width: 55%;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 10px auto;

}
.feedback_form button:hover{
  background-color: #3CD500;
  color: white;
}
/*child_3*/
.child_3{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: #fefefe; */
  backdrop-filter: blur(30px);
  box-shadow: 0 0 2px 0px #f9f7f7;
  border-radius: 10px;
}
.child_3 h2{
  text-align: center;
  color:white;
  font-weight: 800;
}
.child_3 p ul{
  text-align: center;
  font-size: 25px;
}

/* child_4*/
.child_4{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin :0 auto;
  gap: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 2px 0px #f9f7f7;
  border-radius: 10px;
}
.child_4 h2{
  color: white;
  font-weight: 800;
}
.child_4 h2,p{
  text-align: center;
}
.child_4 ul {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.child_4 ul li i{
  width: 20px;
  margin:0 auto;
}
.ic-1{
  color: blue;
}
.ic-2{
  color: #CB397C;
}
ic-3{
  color:#007BB6;
}