* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background:linear-gradient(#3CD500,#FFF720);
  /* background: linear-gradient(#3cd500, #fff720); */
}
.events{
  width: 85%;
  /* background: #fefefe; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  /* background-color: #fefefe; */
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #f9f7f7;
}
/*event page description*/
.description{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.description p{
  padding: auto;
  margin: 10px auto;
}
/*event list*/
.event_list{
  width: 85%;
  margin: 50px auto;  
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  grid-template-columns:30% 30% 30%;
  border-radius: 10px;
  /* background-color: #fefefe; */
  box-shadow: 0 0 10px 5px #f9f7f7;
  
}
/*event carts 1-9 start */
.event_cart_1{
  background-color: #ededed;
  border-radius: 10px ;
  margin: 10px 0;
  
}
.event_cart_2{
  background-color: #ededed;
  border-radius: 10px ;
  margin: 8px 0;
}
.event_cart_3{
  background-color: #ededed;
  border-radius: 10px ;
}
.event_cart_4{
  background-color: #ededed;
  border-radius: 10px ;
}
.event_cart_5{
  background-color: #ededed;
  border-radius: 10px ;
  
}
.event_cart_6{
  background-color: #ededed;
  border-radius: 10px ;
}
.event_cart_7{
  background-color: #ededed;
  border-radius: 10px ;
  margin: 10px auto;
}
.event_cart_8{
  background-color: #ededed;
  border-radius: 10px ;
  margin: 10px auto;
}
.event_cart_9{
  margin: 10px auto;
  background-color: #ededed;
  border-radius: 10px ;
}
/*event carts 1-9 end*/

/* event image*/
.event_list img{
  width: 60%;
  height: 150px;
  border-radius: 6px;
  transition: transform 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.event_list h2{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.event_list p{
  text-align:center;
  font-size: 16px;
}
.event_list button{
  margin: 10px auto;
  font-size: 14px;
  width: 20%;
  height: 40px;
  background-color: rgb(255,0, 204);
  border-style: none;
  border-radius: 5px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  
} 
.event_list img:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 3px lightblue;
}