*{
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*header section Start*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 70px;
    background: #fefefe;
    padding: 0 40px;
    border-radius: 10px;
    margin:  10px auto;
    box-shadow: 0 0 10px 3px #f9f7f7;
 
}
/* nav logo*/
.nav_logo{
 font-size: 20px;
 color: rgb(255, 0, 204);
}

.nav_links{
   display: flex;
   gap: 20px;
}
.nav_links li a{
    padding: 10px;
    text-decoration: none;
    color: black    ;
}
/* hover effect  */
.nav_links li a:hover{
    background-color: #E600DD;
    color: white;
    border-radius: 5.5px;
}
/*header section End */
